Data Types and Structures Questions

QUS 1:-  What are data structures, and why are they important
ANS :- A data structure is a way of organizing and storing data in a computer so that it can be used efficiently.
:- Types of Data Structures
(1) Array
(2) List (Linked List)
(3) Stack
(4) Queue
Non-linear Data Structures
(1) Tree
(2) Graph
Why Are Data Structures Important
:- Efficiency:
:- Organized Data Handling:
:- Reusability:
:- Problem Solving
:- Real-world Modeling:

QUS 2:- Explain the difference between mutable and immutable data types with examples
ANS :- (1) Mutable Data Types
Mutable objects can be changed after creation — you can modify their content (like adding, removing, or changing elements) without changing their identity.
EX (1) list
(2) dict (dictionary)
(3) set
 (2) Immutable Data Typesint
(1) float
(2) str (string)
(3) tuple
(4) frozenset

QUS 3:-  What are the main differences between lists and tuples in Python
ANS :- MUTABLE - LIST(YES) - TUPLE(N0)
       SYNTAX  - []  -   ()
       PERFORMANCE - SLOWER - FASTER
       METHODS  - MANY  - FEW
       USE AS DICT KEY-NOT ALLOWED -ALLOWED  
       BEST FOR - DYNAMIC COLLECTIONS -FIXED COLLECTIONS

QUS 4 :-  Describe how dictionaries store data
ANS :- (!)Hashing:
 Each key is passed through a hash function, which converts it into a unique hash code (an integer).
(2) Indexing:
This hash code determines where the key-value pair will be stored in memory.
Collision
(3) Handling:
 If two keys produce the same hash, Python handles it internally using open addressing or chaining to resolve the conflict.

QUS 5:-  Why might you use a set instead of a list in Python
ANS:- (1) No Duplicates Allowed
Sets automatically remove duplicates.
Use a set when you want to store unique values only.
(2) Faster Membership Tests
Sets are much faster than lists for checking whether an item exists (on average, O(1) vs. O(n)).
(3) Useful for Set Operations
Union (|)
Intersection (&)
Difference (-)
Symmetric difference (^)
 (4) Cleaner Code When You Only Care About Unique Items

QUS 6:-  What is a string in Python, and how is it different from a list
What is a String in Python :- A string is a sequence of characters enclosed in quotes (single, double, or triple) in Python.
Definition	- Sequence of characters	- Sequence of any data types
Mutable    -  No (Immutable)         -  YES
Elements    - Only characters        -  Any type (int, float, string, etc.)
Syntax      - Quotes: "Hello"	       -   Brackets: [1, 2, 3]
Indexing/Slicing  - YES              - YES
Methods     - String-specific methods - 	List-specific methods

QUS 7:-  How do tuples ensure data integrity in Python
ANS :- Tuples in Python help ensure data integrity mainly due to their immutability. Here’s how that works and why it’s important:
(!) Once a tuple is created, its elements cannot be changed, added, or removed.
(2) This makes tuples reliable containers for data that should remain constant throughout the program.
(1) Feature :- 	Contribution to Integrity
(2) Immutable	 :- Prevents accidental or intentional data modification
(3) Hashable	 :- Safe to use in sets/dicts as keys
(4) Fixed Size :-	Protects against adding/removing elements
(5) Semantic Clarity :-	Signals to other developers that data shouldn't change

QUS 8:- What is a hash table, and how does it relate to dictionaries in Python
ANS :- A hash table is a data structure that stores key-value pairs and uses a hash function to compute an index also called a hash code into an array of buckets or slots. This allows for fast access, insertion, and deletion—on average, in constant time
HOW IT WORKS :-
(1) A key is passed through a hash function.
(2) The hash function returns an index.
(3) The key-value pair is stored in the array at that index.

| Feature             | Hash Table                 | Python Dictionary (`dict`)       |
| ------------------- | -------------------------- | -------------------------------- |
| Storage format      | Key-value pairs            | Key-value pairs                  |
| Implementation base | Array + hash function      | Hash table (C-implemented)       |
| Key requirements    | Hashable (immutable)       | Hashable (e.g., str, int, tuple) |
| Access time         | O(1) average               | O(1) average                     |
| Collision handling  | Chaining / Open addressing | Chaining (internally managed)    |

QUS 9:- Can lists contain different data types in Python
ANS :- lists in Python can contain different data types.

Python lists are heterogeneous, meaning they can store a mix of data types within the same list. This flexibility comes from Python being a dynamically typed language.
EX
INTEGER =42
STRING =HELLO
FLOAT = 3.14
BOOLEAN = TRUE
NESTED LIST = [1,2,3,]
DICTIONAARY {'KEY : VALUE'}
WHY IS THIS USEFUL
:- Great for flexibility in data storage.
:- Ideal for combining related but differently typed data.
:-Useful in data processing, configurations, and     general-purpose scripting.

QUS 10 :- Explain why strings are immutable in Python
ANS :- Strings are immutable in Python, meaning once a string is created, it cannot be changed. Any operation that seems to modify a string actually creates a new string object.
WHY DID PYTHON MAKE STRINGS IMMUTABLE
(1) Hashing & Dictionary Keys
Immutable objects like strings are hashable, which means their hash value stays constant.
This allows strings to be used as keys in dictionaries or elements in sets.
(2) Security & Consistency
Immutability makes it safe to share strings across parts of a program without worrying about unexpected changes.
This is important in multi-threaded or large-scale programs.
(3) Efficiency
Since strings don’t change, Python can reuse string objects in memory (called string interning) to save space and improve speed.
(4) Simplicity
Immutable types make debugging and reasoning about code easier, since you can trust that a string won’t change behind the scenes.

QUS 11:-  What advantages do dictionaries offer over lists for certain tasks
| Feature              | Dictionary (`dict`)                                 | List  
| **Key-based access** | Access values by **unique keys**                    | Access by **index only**     |
| **Fast lookup time** | O(1) average time using hashing                     | O(n) time (linear search)    |
| **Data mapping**     | Ideal for storing **key-value pairs**               | Not designed for mapping     |
| **Clarity**          | Improves code readability when keys are descriptive | Indexes can be ambiguous     |
| **Flexible keys**    | Use strings, numbers, tuples as keys                | No keys—only numeric indices |

QUS 12:- Describe a scenario where using a tuple would be preferable over a list
Scenario Where a Tuple Is Preferable Over a List
A tuple is preferable over a list when you want to store a fixed collection of items that should not change. Tuples are immutable, meaning they cannot be modified after creation. This immutability makes them useful for:
:- The data should not change.
:- You need to protect data integrity.
:-You want to use the data as a dictionary key or set element.

QUS 13:- How do sets handle duplicate values in Python
ANS :- How Sets Handle Duplicate Values in Python
Sets in Python automatically remove duplicate values. When you create a set, any duplicate entries are discarded, and only unique elements are stored.
FEATURE     :-   SET BEHAVIUOR
DUPLICATES  :-   AUTOMATICALLY REMOVED
STORAGE     :-   HASH TABLE
USE CASE    :-   ENFORCING UNIQUENESS MEMBERSHIP TEST

QUS 14 :-  How does the “in” keyword work differently for lists and dictionaries
ANS :- Great question! The in keyword is used in both lists and dictionaries in Python, but it behaves differently depending on the data structure.
Data Structure|Expression|Checks For|Time Complexit
list          |X in list |valu existence| o(n)
Dictionary    |x in dict | key existenec |o(1)average
dictioary     |x in dict values|value existence|o(n)

qus 15:- Can you modify the elements of a tuple? Explain why or why not
ans :- No, you cannot modify the elements of a tuple after it's created. Tuples are immutable—this means their contents cannot be changed, added to, or removed once defined.
(1) Safety and Integrity
 Immutability ensures data can't be changed accidentally—useful for constants or fixed collections.
(2) Hashability
Because they are immutable, tuples can be hashed (if they only contain hashable elements).
This makes tuples usable as keys in dictionaries or as set elements—lists cannot be used this way.

QUS 16 :- What is a nested dictionary, and give an example of its use case
A nested dictionary is a dictionary within another dictionary. It allows you to store complex, hierarchical, or grouped data in a structured way using multiple levels of key-value pairs.
(1) A nested dictionary is a dictionary that contains other dictionaries as values.
(2) Great for representing structured and hierarchical data.
(3) Used often in real-world applications like databases, APIs, and configuration systems.

QUS 17:-  Describe the time complexity of accessing elements in a dictionary
ANS :- Accessing elements in a dictionary is very efficient thanks to its underlying hash table implementation. Many keys produce the same hash (causing collisions).
Python has to scan multiple entries in the same hash bucket.
But this is uncommon because:
Python handles collisions efficiently using open addressing and probing.
The hash table dynamically resizes to minimize collisions.

QUS 18:-  In what situations are lists preferred over dictionaries
ANS :- While dictionaries are great for key-value lookups, lists are better in scenarios where order, sequence, or indexing is more important than named associations.
(1) Use a List When
You care about order or positio
You need fast iteration
Data is homogeneous and simple
You want indexing/slicing

(2) Use a Dictionary When...
You care about labels or keys
You need fast lookups by key
Data is structured and named
You want key-based access

QUS 19:-  Why are dictionaries considered unordered, and how does that affect data retrieva
ANS :-  Historical Context:
Before Python 3.7, dictionaries were inherently unordered, meaning:
The order in which key-value pairs were inserted was not preserved.
You couldn't rely on the order when looping through or printing the dictionary.
Keys and their values appear in the order they were added.
But logically, dictionaries are still treated as unordered mappings because:
Their main purpose is key-based access, not order-based access.
They don’t support positional indexing like lists.
Dictionaries were unordered in versions before Python 3.7.
In Python 3.7+, they preserve insertion order, but are still used for key-value mapping, not indexing.

QUS 20:-  Explain the difference between a list and a dictionary in terms of data retrieval.
ANS :- Both lists and dictionaries are used to store collections of data in Python, but they differ significantly in how you retrieve that data.
Feature                     List                              Dictionary
Access type	 | Index-based (e.g., list[0])	|Ordered (from position 0 onward)
Keys or indexes	|Uses integer indices |Uses unique keys (any hashable type)

Order dependency	|Ordered (from position 0 onward)|	Insertion-ordered (Python 3.7+) but accessed by key

 Practical Questions

QUS 1:-  Write a code to create a string with your name and print it

In [2]:
# Create a string with your name
name = "Vikas Kumar"

# Print the name
print("My name is:", name)

My name is: Vikas Kumar

QUS 2:- Write a code to find the length of the string "Hello World"

In [3]:
# Define the string
text = "Hello World"

# Find and print the length
length = len(text)
print("Length of the string:", length)

Length of the string: 11

QUS 3 :-Write a code to slice the first 3 characters from the string "Python Programming"

In [4]:
# Define the string
text = "Python Programming"

# Slice the first 3 characters
sliced_text = text[:3]

# Print the result
print("First 3 characters:", sliced_text)

First 3 characters: Pyt

QUS 4 :-  Write a code to convert the string "hello" to uppercase

In [5]:
# Define the string
text = "hello"

# Convert to uppercase
upper_text = text.upper()

# Print the result
print("Uppercase:", upper_text)

Uppercase: HELLO

QUS 5:-  Write a code to replace the word "apple" with "orange" in the string "I like apple"

In [6]:
# Define the string
text = "I like apple"

# Replace 'apple' with 'orange'
new_text = text.replace("apple", "orange")

# Print the result
print(new_text)

I like orange

QUS 6:-  Write a code to create a list with numbers 1 to 5 and print it

In [7]:
# Create the list
numbers = [1, 2, 3, 4, 5]

# Print the list
print("List of numbers:", numbers)

List of numbers: [1, 2, 3, 4, 5]

QUS 7:-  Write a code to append the number 10 to the list [1, 2, 3, 4]

In [8]:
# Define the list
numbers = [1, 2, 3, 4]

# Append the number 10
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

QUS 8:-  Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [9]:
# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

QUS 9:-  Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [10]:
# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the result
print("Second element:", second_element)

Second element: b

QUS 10 :-  Write a code to reverse the list [10, 20, 30, 40, 50].

In [11]:
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print("Reversed list:", numbers)

Reversed list: [50, 40, 30, 20, 10]

qus 11 :- Write a code to create a tuple with the elements 100, 200, 300 and print it.

In [12]:
# Create the tuple
numbers = (100, 200, 300)

# Print the tuple
print("Tuple:", numbers)

Tuple: (100, 200, 300)

qus 12 :-  12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [13]:
# Define the tuple
colors = ('red', 'green', 'blue', 'yellow')

# Access the second-to-last element
second_to_last = colors[-2]

# Print the result
print("Second-to-last element:", second_to_last)

Second-to-last element: blue

QUS 13 :-  13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

In [14]:
# Define the tuple
numbers = (10, 20, 5, 15)

# Find the minimum number
min_value = min(numbers)

# Print the result
print("Minimum number:", min_value)

Minimum number: 5

QUS 14 :-  14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [15]:
# Define the tuple
animals = ('dog', 'cat', 'rabbit')

# Find the index of "cat"
index_of_cat = animals.index('cat')

# Print the result
print("Index of 'cat':", index_of_cat)

Index of 'cat': 1

QUS 15:- Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [16]:
# Create a tuple with fruits
fruits = ("apple", "banana", "orange")

# Check if "kiwi" is in the tuple
if "kiwi" in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

QUS 16 :-  16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

In [17]:
# Create a set
letters = {'a', 'b', 'c'}

# Print the set
print("Set:", letters)

Set: {'c', 'b', 'a'}

QUS 17:- Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [18]:
# Define the set
numbers = {1, 2, 3, 4, 5}

# Clear all elements
numbers.clear()

# Print the result
print("Set after clearing:", numbers)

Set after clearing: set()

QUS 18:-  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [19]:
# Define the set
numbers = {1, 2, 3, 4}

# Remove the element 4
numbers.remove(4)

# Print the updated set
print("Set after removing 4:", numbers)

Set after removing 4: {1, 2, 3}

QUS 19:- Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

In [20]:
# Define the sets
set1 = {1, 2, 3}
set2 = {3, 4, 5}

# Find the union
union_set = set1.union(set2)

# Print the result
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

QUS 20 :- Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

In [21]:
# Define the sets
set1 = {1, 2, 3}
set2 = {2, 3, 4}

# Find the intersection
intersection_set = set1.intersection(set2)

# Print the result
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

QUS 21 :- Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [22]:
# Create the dictionary
person = {
    "name": "Vikas",
    "age": 22,
    "city": "Delhi"
}

# Print the dictionary
print("Dictionary:", person)

Dictionary: {'name': 'Vikas', 'age': 22, 'city': 'Delhi'}

QUS 22 :- Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [23]:
# Define the dictionary
person = {'name': 'John', 'age': 25}

# Add new key-value pair
person['country'] = 'USA'

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

QUS 23 :- Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

In [24]:
# Define the dictionary
person = {'name': 'Alice', 'age': 30}

# Access the value of key "name"
name_value = person['name']

# Print the result
print("Name:", name_value)

Name: Alice

QUS 24:- Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [25]:
# Define the dictionary
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}

# Remove the key "age"
person.pop('age')

# Print the updated dictionary
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

QUS 25:- Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [26]:
# Define the dictionary
person = {'name': 'Alice', 'city': 'Paris'}

# Check if "city" key exists
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

QUS 26 :-Write a code to create a list, a tuple, and a dictionary, and print them all.

In [27]:
# Create a list
my_list = [1, 2, 3, 4, 5]

# Create a tuple
my_tuple = ('apple', 'banana', 'cherry')

# Create a dictionary
my_dict = {'name': 'Alice', 'age': 30, 'city': 'Paris'}

# Print all of them
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris'}

QUS 27:- Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the

In [28]:
import random

# Create a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted list of random numbers:", random_numbers)

Sorted list of random numbers: [2, 10, 31, 80, 92]

QUS 28 :-  Write a code to create a list with strings and print the element at the third index.

In [29]:
# Create a list with strings
fruits = ["apple", "banana", "cherry", "date", "elderberry"]

# Print the element at the third index (indexing starts from 0)
print("Element at third index:", fruits[3])

Element at third index: date

QUS 29 :- Write a code to combine two dictionaries into one and print the result.

In [30]:
# Define two dictionaries
dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Combine the dictionaries
combined_dict = {**dict1, **dict2}

# Print the combined dictionary
print("Combined dictionary:", combined_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3, 'd': 4}

QUS 30:- Write a code to convert a list of strings into a set.

In [31]:
# Define a list of strings
string_list = ["apple", "banana", "cherry", "apple"]

# Convert the list into a set
string_set = set(string_list)

# Print the set
print("Set:", string_set)

Set: {'apple', 'banana', 'cherry'}